@import "normalize";
@import "skeleton";

$link-color: #43C079;

html, body {
	height: 100%;
}

body {
	background: #F0F0F0;
}

.area-link {
	cursor: pointer;
	color: $link-color;
}

.area-link:hover {
	color: $link-color;
	text-decoration: underline;
}

.story {
	background: #FFF;
	padding: 20px;
	box-shadow: 1px 1px 4px #CCC;
}

.story ul {
	list-style: none;
}

.story li:before {
	content: "\0203A";
	margin-right: 5px;
	color: $link-color;
}

#debug {
	display: none;
}

.text-center { text-align: center; }
.text-right { text-align: right; }
